<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset 		name="factory-details"	label="COM_TSWRENT_FIELDSET_FACTORY_DETAILS">
		<fieldset name="address_details">
			<field 
				name="title"
				type="textarea"
				label="COM_TSWRENT_FIELD_NAME"
			/>	

			<field 
				name="address" 
				type="text" 		
				label="COM_TSWRENT_FIELD_ADDRESS" 
			/>
			<field 
				name="city" 
				type="text"			
				label="COM_TSWRENT_FIELD_CITY" 
			/>
			<field 
				name="postalcode" 
				type="text"	
				default='0000'		
				label="COM_TSWRENT_FIELD_POSTALCODE" 
			/>

			<field 
				name="telephone" 
				type="text" 	
				label="COM_TSWRENT_FIELD_TELEPHONE" 
			/>
			<field 
				name="mobile" 
				type="text" 
				label="COM_TSWRENT_FIELD_MOBILE" 
			/>	
			<field 
				name="webpage" 
				type="url" 
				default="http://www.example.com" 
				label="COM_TSWRENT_FIELD_WEBPAGE" 
				size="10" 
			/>
		</fieldset>
		<fieldset name="bank-connection">
			<field 
				name="bankname" 
				type="text" 
				default='Name of the Bank'		
				label="COM_TSWRENT_FIELD_BANKNAME" 
			/>
			<field 
				name="account-owner" 
				type="text"	
				default='Name of the Account Owner'		
				label="COM_TSWRENT_FIELD_ACCOUNT_OWNER" 
			/>
			<field 
				name="iban" 
				type="text"	
				default='CH0000'		
				label="COM_TSWRENT_FIELD_IBAN" 
			/>
		</fieldset>		
		<fieldset
			name="permissions"
			label="JCONFIG_PERMISSIONS_LABEL"
			description="JCONFIG_PERMISSIONS_DESC"
			>
			<field
				name="rules"
				type="rules"
				label="JCONFIG_PERMISSIONS_LABEL"
				validate="rules"
				filter="rules"
				component="com_foos"
				section="component"
			/>
		</fieldset>
	</fieldset>
</config>
